body {
    background-color: #333333;
}

#mainContainer {
    display: flex;
    justify-content: center;

}

#uploadFormDiv {
    width: 500px;
    height: 200px;
    margin-top: 10vw;
    background-color: #DDDDDD;
    justify-items: center;
}

#uploadForm {
    display: flex;
    margin-top: 3vw;
}

#status {
    text-align: center;
}